{% extends "network/layout.html" %}
{% load static %}

{% block feed_title %}
<div class="feed__header">
  <h2>Explore</h2>
</div>
{% endblock %}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

{% if user.is_authenticated %}
  <!-- tweetbox starts -->
  <div class="tweetBox">
  <form>
    <div class="tweetbox__input">
      <img
        src="https://i.pinimg.com/originals/a6/58/32/a65832155622ac173337874f02b218fb.png"
        alt=""
      />
      <input type="text" placeholder="What's happening?" />
    </div>
    <button class="tweetBox__tweetButton">Tweet</button>
  </form>
</div>
<!-- tweetbox ends -->
{% endif %}

{% block post%}
{% for t in random_tweets %}
<div class="post" id = "post">
  <div class="post__avatar">
    <img
      src="https://i.pinimg.com/originals/a6/58/32/a65832155622ac173337874f02b218fb.png"
      alt=""
    />
  </div>

  <div class="post__body">
    <div class="post__header">
      <div class="post__headerText">
        {% if user.is_authenticated %}
        <h3>
          <a href="{% url 'profile' t.user.username%}">{{t.user.username}}</a>
          <span class="post__headerSpecial"><span class="material-icons post__badge"> verified </span>{% if profile.handle %}@{{ profile.user.handle}}{%else%}rick_astley{%endif%}</span>
          <div class = "float-right">
            {{t.created_at|timesince }} ago
          </div>
        </h3>
        {% else %}
        <h3>
          <p>Elon Tusk</p>
          <span class="post__headerSpecial"><span class="material-icons post__badge"> verified </span>@elotsky</span>
        </h3>
        {% endif %}
      </div>
      <div class="post__headerDescription">
        <p id = "tweet-para">{{ t.tweet }}</p>
      </div>
    </div>
    <div class="post__footer">
      {% if user.is_authenticated %}
        {% csrf_token %}
        <span class="material-icons"> repeat </span>
        <img 
        data-id = "{{t.id}}"
        id = "tweet-like-{{t.id}}"
        class = "like-selected"
        {% if not request.user in t.like.all %}
        data-liked = 'no' 
        src = "{% static 'network/images/heart_unlike.png' %}"
        {% else %}
        data-liked = 'yes'
        src = "{% static 'network/images/heart_like.png' %}"
        {% endif %}
        />
        <span id = "like-count-{{t.id}}">{{t.like.count}}</span>
        <span class="material-icons"> publish </span>
      {% endif %}
    </div>
  </div>
</div>
{% endfor %}

<section >
{% if user.is_authenticated %}
  <h3 class = "pl-4"> Check out more tweets in the Home tab!</h3>
{% else %}
  <h3 class = "pl-4"> Login to join the conversation!</h3>
{% endif %}
</section>
{% endblock %}
