{% extends "network/layout.html" %}
{% load static %}


{% block feed_title %}
<div class="feed__header">
  <h2>Home</h2>
</div>
{% endblock %}

{% if message %}
<div>{{ message }}</div>
{% endif %}

<!-- This is where we add new tweets. -->
{% block tweet_box %}
  {% include "network/post_tweet.html" %}
{% endblock %}

{% block post %}
<!-- This is where the post created by a JSON repsonse will be recorded. -->
<div id = "over-post"></div>
<!-- This is where the new tweets will show up, also old tweets will be displayed here. -->
{% for t in tweets %}
<div class="post" id = "post">
  <div class="post__avatar">
    <img
      src="https://i.pinimg.com/originals/a6/58/32/a65832155622ac173337874f02b218fb.png"
      alt=""
    />
  </div>

  <div class="post__body">
    <div class="post__header">
      <div class="post__headerText">
        <h3>
          <a href="{% url 'profile' t.user.username%}">{{t.user.username}}</a>
          <span class="post__headerSpecial"><span class="material-icons post__badge"> verified </span>{% if profile.handle %}@{{ profile.user.handle}}{%else%}rick_astley{%endif%}</span>
          <div class = "float-right">
            {{t.created_at|timesince }} ago
          </div>
        </h3>
      </div>
      <div class="post__headerDescription">
        <p id = "tweet-para">{{ t.tweet }}</p>
      </div>
    </div>
    <div class="post__footer">
      {% csrf_token %}
      <span class="material-icons"> repeat </span>
      <img 
      data-id = "{{t.id}}"
      id = "tweet-like-{{t.id}}"
      class = "like-selected"
      {% if not request.user in t.like.all %}
      data-liked = 'no' 
      src = "{% static 'network/images/heart_unlike.png' %}"
      {% else %}
      data-liked = 'yes'
      src = "{% static 'network/images/heart_like.png' %}"
      {% endif %}
      />
      <span id = "like-count-{{t.id}}">{{t.like.count}}</span>
      <span class="material-icons"> publish </span>
    </div>
  </div>
</div>
{% endfor %}
{% endblock %}