{% load static %}
<script src="{% static 'network/js/post_like_tweet.js'%}"></script> 
<!-- tweetbox starts -->
  <div class="tweetBox">
  <form id = "tweet-form" action = "{% url 'post-tweet' %}" method = "POST">
    {% csrf_token %}
    <div class="tweetbox__input">
      <img
        src="https://i.pinimg.com/originals/a6/58/32/a65832155622ac173337874f02b218fb.png"
        alt=""
      />
      <input type="text" placeholder="What's happening?" id = "tweet-text" name = "tweet" required/>
    </div>
    <button class="tweetBox__tweetButton" type = "submit">Tweet</button>
  </form>
</div>
<!-- tweetbox ends -->